@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
--body-font: "Open Sans", sans-serif;
--container-font: "Poppins", sans-serif;
--background-color: hsl(257, 40%, 49%);
--white: rgb(255, 255, 255);
--hover-color: hsl(300, 69%, 71%);
--box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}
body {
-ms-overflow-style: none; /* for Internet Explorer, Edge */
scrollbar-width: none; /* for Firefox */
overflow-y: scroll;
height: 100vh;
background-color: var(--background-color);
font-family: var(--body-font);
background-image: url("images/bg-desktop.svg");
background-repeat: no-repeat;
background-size: auto;
}
/* logo img adj */
header img {
    width: 200px;
}
/* illustrator adj */
section img {
width: 600px;
}
/* text container adj  */
.container.py-5 {
    margin-left: 40px;
}

.container.py-5 {
    font-size: 15px;
}
.text-white.fw-bolder {
    font-weight: 900;
}
/* button adj */
.btn {
    background-color: white;
    color: var(--background-color);
    width: 162px;
    height: 43px;
    border-radius: 30px;
}
.btn:hover {
    background-color: var(--hover-color);
    color: white;
}
/* icons adj */
.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.icons-container:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    cursor: pointer;
}
/* footer */
.attribution { font-size: 14px; text-align: center; }
.attribution a { color: white; }
/* responsive */

  @media screen and (max-width: 1280px) {
    body {
      background-image: url("images/bg-mobile.svg");
      background-size: cover;
    }
    main {
      width: 100%;
    }
    .attribution.d-flex.justify-content-center 
    {
      flex-direction: column;
    }
    header {
      padding: 0;
      margin: 0;
    }
    section img {
      width: 100%;
    }
    .container.d-flex{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 4rem;
      gap: 1rem;
    }
  .container.py-5 {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  
    .illustration{
      padding: 1.5rem;
    }
    
    .info-container h1,   .info-container p {
    margin: auto;
  }
  
    .icons-container {
      justify-content: center;
      padding: 0;
      margin-top: 0;
    }
  }
  
  .attribution { font-size: 14px; text-align: center; }
  .attribution a { color: white; }